@import url('https://fonts.googleapis.com/css?family=Montserrat');
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.map {
  width: 80vw;
  height: 80vh;
}

* {
  box-sizing: border-box; 
 }

.main {
   display: flex;
   margin: 0;
   min-height: calc(100vh - 100vh);
}

.main > aside {
   flex: 1 20vw;
   background: #e5e7e1;
}
 .main > .nav-button {
   order: -1;
 }
map, .nav-button, aside {
   padding: 1em;
 }
 .nav-button {
   background: yellowgreen;
   height: auto;
 }
nav {
  background-color: #9BBD77;
  border: 1px solid #284e58;
}

.nav-button {
    background-color: #fffefe;
    border: 0.2px solid #284e58;
    border-radius: 5px;
    color: rgb(97, 97, 97);
    padding: 10px 32px;
    margin: 10px 7.5px 10px 7.5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transition: 0.5s;
}

.nav-button:hover{
    background-color: #cef3f0;
}

.footer {
  text-align: center;
  background-color: #74A343;
  padding: 10px;
}
.scoreBoard {
  background-color: #fff8b5;
  width: 100%;
  height: auto;
}

.testButton{
  position: absolute;
  top: 50%;
  margin-left: auto;
  margin-right: auto;
}
.barholder{
  height: 30px;
  margin-left: 5px;
  margin-right: 5px;
}

.greenbar{
  width: 20%;
}
.bluebar{
  width: 40%;
}
.yellowbar{
  width: 40%;
}