@import url('https://fonts.googleapis.com/css?family=Montserrat');
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

map {
  /* background-color: #282c34; */
  background-image: url("./img/map.png");
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex: 10;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: "Montserrat";
}

* {
  box-sizing: border-box; 
 }

.main {
   display: flex;
   margin: 0;
   min-height: calc(100vh - 100vh);
}

.main > aside {
   flex: 1 20vw;
   background: #e5e7e1;
}
 .main > .nav-button {
   order: -1;
 }
map, .nav-button, aside {
   padding: 1em;
 }
 .nav-button {
   background: yellowgreen;
   height: auto;
 }
nav {
  background-color: #0fc4b9;
  border: 1px solid #284e58;
}

.nav-button {
    background-color: #fffefe;
    border: 0.2px solid #284e58;
    border-radius: 5px;
    color: rgb(97, 97, 97);
    padding: 10px 32px;
    margin: 10px 7.5px 10px 7.5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transition: 0.5s;
}

.nav-button:hover{
    background-color: #cef3f0;
}

team-photo{ 
  background-image: url("./img/team.png");
  background-position: center;
  background-size: cover;
}